body {
    color: whitesmoke;
    background: url(/assets/img/universe.jpg);
    background-size: cover;
    display: block;
    text-align: center;
    font-family: 'oxanium', sans-serif;
}

.logo {
  max-width: 30%; /* Image will never exceed the width of its parent container */
  max-height: 400px; /* Image will never be taller than 400 pixels */
  width: auto;
  height: auto; /* Maintains proper proportions */
}

.btn {
    padding: 5px 15px;
    border-radius: 0;
    background: #ffffff;
    border: none;
    font-family: 'oxanium', sans-serif; /*We can also use 'inherit'*/
}

.underline {
    border-bottom: 4px solid whitesmoke;
}