#hero {
    background: url(/assets/img/galaxy.webp);
    background-size: coverS;
    padding: 10px 0 40px 0;
}
body {
    color: #a4b9dd;
    display: block;
    text-align: center;
    font-family: 'oxanium', sans-serif;
    margin: 0;
}

#main-logo {
  max-width: 30%; /* Image will never exceed the width of its parent container */
  max-height: 400px; /* Image will never be taller than 400 pixels */
  width: auto;
  height: auto; /* Maintains proper proportions */
}

.btn {
    padding: 5px 15px;
    border-radius: 0;
    background: #ffffff;
    border: none;
    font-family: 'oxanium', sans-serif; /*We can also use 'inherit'*/
    color: #4166a5;
    font-weight: 800;
}

h1 {
    text-shadow: 0px 0px 4px black;
}

.underline {
    border-bottom: 4px solid whitesmoke;
}
